{% extends 'base.html' %} {% block content %} {% load static %}
<section class="content">
  <section class="header" style="display:flex;">
  <img src="static/img/logo-twitterblue.svg" />
  <h1>Home</h1>
</section>
<section class="content">
  <section class="post_form">
    <div class= 'icon'>
     <img src= "static/img/profile-user.png"/>
    </div>
    <form action="/" method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      <input type="text" name="name" placeholder="name" />
      <textarea name="body" placeholder="what's happening?" required></textarea>
      <div class='tweet-btn'>
      <input class="form-control form-control-sm" name="image" type="file">
      <button class="btn" type="submit">Tweet</button>
      </div>
    </div>
    </form>
  </section>
  <section class="posts">
    <ul>
      {% for post in posts %}
      <li>
        <img class="menu_icon js-menu-icon" src="{% static 'img/menu.png' %}" />
        <div class="menu">
          <div class='menu-a'>
          <a href="/delete/{{post.id}}/">Delete</a>
          <a href="/edit/{{post.id}}/">Edit</a>
        </div>
      </div>
        <div class="logo">

          <img src='{% static "img/profile-user.png" %}' />
        </div>
        <div class="name_body">
          <div class="name">{{ post.name }}</div>
          <div class="datetime">{{ post.created_at }}</div>
          <p>{{ post.body }}</p>
        
       {% if post.image.url %}
       <img class="post-border" src="{{ post.image.url }}"  >
      {% endif %}
      <div class="like-btn">
        <a href="/like/{{post.id}}"><img src="{% static 'img/like.png' %}" alt="" style="width: 30px; height: 30px; margin: 0px;"></a>
        {{ post.likes }}
      </div>

        </div>


      </li>
      {% endfor %}
    </ul>
  </section>
  <script
  src="https://code.jquery.com/jquery-3.6.0.js"
  integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
  crossorigin="anonymous"></script>
 <script src="{% static 'js/post.js/' %}"></script>


</section>
{% endblock %}
